<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Musical</title>
        <meta name="viewport" content="width=device width, initial-scale=1.0">
    </head>
    <body>
        <h1>About Musical</h1>
        <p>Welcome to Musical, a music and video recommendation web app created by Uko Uwatt. This web app is part of my ALX portfolio project.</p>
        <p>At Musical, we aim to provide you with the best music and video recommendations based on your preferences. Whether you're looking for the latest hits, undiscovered gems, or personalized playlists, we've got you covered.</p>
        <p>Our team of music enthusiasts carefully curates content from various genres and artists to ensure a diverse and enjoyable experience for our users. We believe that music has the power to inspire, uplift, and connect people, and we want to share that joy with you.</p>
        <p>So sit back, relax, and let Musical be your guide to discovering new music and videos that will make your day a little brighter.</p>
        <p>Thank you for choosing Musical!</p>
        
        <a href="{{ url_for('index') }}">Go back to home page</a>
    </body>
</html>